:root {
  --accent-color: #2196f3;
  --main-logo-color: #000000;
  --main-link-color: #757575;
  --second-link-color: #212121;
  --main-bg-color: #2f303a;
  --white-bg-color: #f5f4fa;
  --hero-bg-color: #188ce8;
  --main-h-color: #212121;
  --main-p-color: #757575;
  --main-white-color: #ffffff;
  --main-border-color: #eeeeee;
  --main-icons-color: #afb1b8;
  --timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
body {
  font-family: 'Roboto', sans-serif;
  color: var(--main-p-color);
}
.logo {
  font-family: 'Raleway', sans-serif;
}
