.feature {
  background-color: var(--main-white-color);
}
// .feature__icons {
//   // display: flex;

//   // & > li:not(:last-child) {
//   //   margin-right: 30px;
//   // }
// }

.feature__elements {
  @extend %flex-align;
  min-width: 270px;
  min-height: 120px;
  justify-content: center;
  border-radius: 4px;
  background: var(--white-bg-color);
  margin-bottom: 30px;
}

.feature__list {
  display: flex;
  flex-wrap: wrap;
  margin-left: -30px;
  margin-bottom: -30px;

  @media screen and (min-width: 1200px) {
    flex-wrap: nowrap;
  }
}
.feature__items {
  width: 100%;
  margin-left: 30px;
  margin-bottom: 30px;
  @media screen and (min-width: 768px) {
    width: calc((100% - 60px) / 2);
  }
}

.feature__title {
  @include font(null, 14px, 1.14, 0.03em);
  margin-bottom: 10px;
  text-transform: uppercase;
  color: var(--main-h-color);
  text-align: start;

  @media screen and (max-width: 767px) {
    text-align: center;
  }
}
.feature__text {
  @include font(null, 14px, 1.71, 0.03em);
}
