.feature {
  background-color: var(--main-white-color);
}
.feature__icons {
  display: flex;
  margin-bottom: 30px;
  & > li:not(:last-child) {
    margin-right: 30px;
  }
}

.feature__elements {
  @extend %flex-items;
  min-width: 270px;
  min-height: 120px;
  justify-content: center;
  border-radius: 4px;
  background: var(--white-bg-color);
  margin-bottom: 30px;
}

.feature__list {
  display: flex;
  & > li:not(:last-child) {
    margin-right: 30px;
  }
}

.feature__title {
  @include font(null, 14px, 1.14, 0.03em);
  margin-bottom: 10px;
  text-transform: uppercase;
  color: var(--main-h-color);
}
.feature__text {
  @include font(null, 14px, 1.71, 0.03em);
}
