.footer {
  background-color: var(--main-bg-color);
}
.main-footer {
  align-items: baseline;
  display: flex;
  flex-wrap: wrap;
  // padding-top: 60px;
  // padding-bottom: 60px;
  @media screen and (min-width: 768px) {
    justify-content: space-around;
  }
}

.main-footer__address-container {
  // margin-right: 70px;
  @media screen and (max-width: 767px) {
    width: 100%;
  }

  margin-top: 60px;
  margin-bottom: 60px;
  text-align: center;

  // @media screen and (min-width: 768px) {
  //   margin-left: 61px;
  //   margin-right: 165px;
  // }
}

.address {
  font-style: normal;
  margin-top: 20px;
}
.address__footer {
  @include font(400, 14px, 1.71, 0.03em);
  color: var(--main-white-color);
  margin-bottom: 9px;
}
.contact-footer__list > li:not(:last-child) {
  margin-bottom: 9px;
}

.contact-footer__link {
  @include font(null, 14px, 1.71, 0.03em);
  color: rgba(255, 255, 255, 0.6);
  transition: color 250ms var(--timing-function);
  &:hover,
  &:focus {
    color: var(--accent-color);
  }
}
.footer-icons {
  @media screen and (max-width: 767px) {
    width: 100%;
  }
  text-align: center;
  margin-bottom: 60px;
}

.footer-icon__title {
  @include font(null, 14px, 1.14, 0.03em);
  color: var(--main-white-color);
}

.social__link--background-dark {
  background-color: rgba(255, 255, 255, 0.1);
}

.footer-social-links {
  display: flex;
  justify-content: center;
  padding-top: 20px;
}

.footer-soc-icons {
  fill: var(--main-white-color);
}

.container-footer-form {
  text-align: center;
  margin-bottom: 60px;
  // width: 100%;
  // display: flex;
  // flex-direction: column;
  // align-items: center;
}
