.footer-form {
  min-width: 570px;
  margin-left: 93px;
}

.footer-form__label {
  @include font(700, 14px, 1.14, 0.03em);
  display: flex;

  width: 100%;
  margin-bottom: 20px;
  color: var(--main-white-color);
}

.footer-form__input {
  @include font(400, 16px, 1.25, 0.03em);
  width: 358px;
  height: 50px;
  padding-left: 16px;
  padding-top: 15px;
  padding-bottom: 15px;
  border-radius: 4px;
  border: 1px solid rgba(255, 255, 255, 0.3);
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
  color: rgba(255, 255, 255, 0.6);
  background-color: transparent;
  outline: none;
}

.footer-form__btn {
  @include font(700, 16px, 1.87, 0.06em);
  display: inline-flex;
  justify-content: center;
  align-items: center;
  margin-left: 12px;

  width: 200px;
  height: 50px;
  border: none;
  border-radius: 4px;
  padding-top: 10px;
  padding-bottom: 10px;
  padding-left: 0;
  padding-right: 0;
  color: var(--main-white-color);
  background-color: var(--accent-color);
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
}
.footer-form__icon {
  margin-left: 10px;
}
